---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="page">
    <h1>About</h1>
    <p>
      I specialize in building robust and scalable backend applications. I have
      experience in both cloud and on-premise environments. On top of that I'm
      comfortable with DevOps and GNU/Linux SysAdmin related tasks.
      </p>
      <p>
        My expertise spans across tech stack listed below:
      <ul>
      <li> langs:
        <ul>
	<li> TypeScript
	<li> Rust
	<li> Python
	<li> bash
	<li> Go
	</ul>
      <li> DBs:
        <ul>
	<li> PostgreSQL
	<li> Redis
	<li> DynamoDB
	</ul>
      <li> other:
        <ul>
	<li> OAuth 2.0 Authorization Framework
	<li> AWS
	<li> GNU/Linux
	<li> Kubernetes
	<li> GitHub Actions
	<li> GitLab CI/CD
	<li> Jenkins
	</ul>
      </ul>
    </p>

    <p>
      You can also check my profiles at <a
      href="https://github.com/mrl5">GitHub</a> and <a
      href="https://www.linkedin.com/in/9a177d16f0768546609dd8c813508e3c36a8cd1ada6bfb9f77168bae5d0e0b39/">LinkedIn</a>.
    </p>

    <h1>Background</h1>
    <p>
      My hacking journey started with writing a mIRC bot (deployed on QuakeNet) and
      setting up dual-boot for Windows XP and Gentoo Linux - I started early enough to
      remember the LILO bootloader ;).
    </p>
  
    <p>
      I have Bachelor's degree in Electrical Engineering. My thesis (and project)
      involved topics related to condition monitoring and fault diagnosis of
      electrical motors, digital signal processing as well as electronic circuit and
      PCB design. If you want to learn more, check <a
      href="https://github.com/mrl5/fourier">https://github.com/mrl5/fourier</a>.
  
      I've also finished postgraduate studies in Software Engineering.
    </p>
  </div>
</BaseLayout>

<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }
</style>
